<?xml version="1.0"?>
<configuration>

  <location path="Manage.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

	<location path="Students.aspx">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>

</configuration>

<!--
komentar u XML-u
Vise o XML-u u prezentacijama sa vezbi i na ucionici.
<authorization> tag sluzi za davanje autorizacije(prava) pristupa stranici.
deny users daje spisak korisnika kojima nije dozvoljeno da
pristupe stranici. ? upitnik su neregistrovani korisnici, tj. oni koji nemaju nalog
odnosno pristupaju stranici a nisu ulogovani.
Dakle, stranicama Manage i Students dozvoljavamo pristup samo registrovanim korisnicima.


Ovoj stranici smo zabranili pristup korisnicima koji nisu registrovani
tj deny users = ?
-->
