<?xml version="1.0"?>
<configuration>
	<system.web>
		<authorization>
			<allow roles="canEdit"/>
			<deny users="*"/>
		</authorization>
	</system.web>
</configuration>

<!--komentar u XML-u
Vise o XML-u u prezentacijama sa vezbi i na ucionici.
<authorization> tag sluzi za davanje autorizacije(prava) pristupa stranici.
allow roles su uloge kojima je dopusteno da pristupe stranici.
deny users znaci zabraniti korisnicima. Ako je navedena *, to znaci
zabraniti svima osim onima koji nemaju role(ulogu) canEdit-->
